.flexi{
    display: flex;
    margin: 1rem;
    flex-wrap: wrap;
}

select{
    margin: 1rem;
    padding: 1px 18px;
    border: none;
    outline: none;
    background-color: orange;
}


.crea button{
    color: white;
    background-color: orange;
    padding: 8px;
   position: absolute;
   right: 5rem;
   cursor: pointer;
}

.imgs{
    width: 80px;
    position: absolute;
    left: 2rem;
}